<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Detail</title>
</head>
<body>
    <h1>Task Detail</h1>
    <p><strong>Title </strong> {{ task.title }}</p>
    <p><strong>Description</strong> {{ task.description }}</p>
    <p><strong>Status</strong> {{ task.completed|yesno:"Completed,Not Completed" }}</p>
    <p><strong>Created At</strong> {{ task.created_at }}</p>
    <a href="{% url 'task_list' %}">Back to Task List</a> | 
    <a href="{% url 'task_update' task.id %}">Edit Task</a> | 
    <a href="{% url 'task_delete' task.id %}" onclick="return confirm('Are you sure?');">Delete Task</a>
</body>
</html>
